@using umweltV1.Data.ViewModels
@model CreateRoleVm

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Css/adminCreateRole.css">
    <title>Umwelt | Create Role</title>
</head>
<body>
    <div class="container">
        <div class="header-div">
            <div class="left">s</div>
            <div class="middle">s</div>
            <div class="right">s</div>
        </div>


        <div class="main-div">
            <form method="post" class="form-div">
                <input asp-for="Tiltle" type="text" class="title">
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>