@using umweltV1.Data.ViewModels
@model ConfirmEmailAcountVm


<div padding: 20px">
    <h2> Hello @Model.Username</h2>
    <p>
        Please Acctive Your Account
    </p>
    <p>
        <a href=https://localhost:7173/Main/Home/ConfirmAccount/@Model.ConfirmCode>Register Now!</a>
    </p>
</div>