
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Css/HomeMain.css">
    <title>HOME|UMWELT</title>
</head>

<body>
    <div class="container">
        <div class="header-div">
            <div class="left">s</div>
            <div class="middle">s</div>
            <div class="right">s</div>
        </div>

        <div class="main-div">
            <div class="all-buttons">
                <button type="button" class="create-role">
                    <a href="#">
                        Create Role
                    </a>
                </button>
                <button class="all-users">
                    <a asp-area="Main" asp-controller="Home" asp-action="SignUpUser">SignUp User</a>
                </button>
                <button type="button" class="main-home">
                    <a href="#">
                        Home Web
                    </a>
                </button>
                <button type="button" class="main-home">
                    <a href="#">
                        Create Permission
                    </a>
                </button>
            </div>
        </div>

    </div>
</body>
</html>
